i {
  padding-right: 5px;
}

label {
  color: azure;
}

.bg-img {
  background-image: url(../images/profile.webp);
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(80%);
  /* background-attachment: fixed; */
  min-height: 100vh;
}
